:root {
  --font: "Outfit", sans-serif;
  --font-size: 18px;
  --Very-Light-Gray: #fafafa;
}

body {
  margin: 0;
  font-family: var(--font);
  font-size: var(--font-size);
  background-color: var(--Very-Light-Gray);
}

.letter-spacing {
  letter-spacing: 10px;
}
